1. Write a string index that returns just the letter 'r'  from 'Hello World' .

In [3]:
str = 'Hello World'
str[8]

'r'

2. Use string slicing to grab the word 'ink'  from inside 'tinker‘

In [5]:
str ='tinker'
str[1:4]

'ink'

3. Write an expression using any of the string formatting methods we have learned to return the phrase 'Python rules!‘

In [6]:
'{} {}'.format("Python",'rules!')

'Python rules!'

In [8]:
a='Python'
b='rules!'
f'{a} {b}'

'Python rules!'

4. Create a list that contains at least one string, one integer and one float.

In [10]:
str=['name',23,2.14159]
print(str)

['name', 23, 2.14159]

5. Create a dictionary where all the keys are strings, and all the values are integers.

In [12]:
diction= {'k1':1,'k2':2,'k3':3}

6. Write an expression that would turn the string 'Mississippi'  into a set of unique letters.

In [13]:
set('Mississippi')

{'M', 'i', 'p', 's'}

7. Write a script that opens a file named 'test.txt' , writes 'Hello World'  to the file, then closes it.

In [16]:
myfile=open('myfile.txt','w+')
myfile.write('Hello World')
myfile.close()

Functions:

9. Write a function called myfunc that prints the string 'Hello World'.

In [19]:
def myfunc():
    print('Hello World')
    
myfunc()

Hello World

10.  Define a function called myfunc that takes in a name, and prints 'Hello Name‘

In [20]:
def myfunc(name):
    print(f'Hello {name}')
myfunc('Batman')

Hello Batman

11. Define a function called myfunc that takes in a Boolean value (True or False). If True, return 'Hello', and if False, return 'Goodbye‘

In [22]:
def func(val):
    if val == 1:
        return True
    else:
        return False
func(False)

False

12. Define a function called myfunc that takes three arguments, x, y and z.If z is True, return x.  If z is False, return y.

In [25]:
def myfunc(x,y,z):
    if z== True:
        return x
    elif z == False:
        return y
print(myfunc(2,4,True))
print(myfunc(2,4,False))

2
4

13. Define a function called myfunc that takes in two arguments and returns their sum.

In [27]:
def myfunc(a,b):
    return a+b
myfunc(5,4)

9

14. Define a function called is_even that takes in one argument, and returns True if the passed-in value is even, False if it is not.

In [31]:
def is_even(num):
    if num%2==0:
        return True
    else:
        return False
    
is_even(4)

True

15. Define a function called is_greater that takes in two arguments, and returns True if the first value is greater than the second, False if it is less than or equal to the second.

In [32]:
def is_greater(a,b):
    if a>b:
        return True
    else:
        return False
print(is_greater(2,3))
print(is_greater(10,5))

False
True

16. Define a function called myfunc that takes in an arbitrary number of arguments, and returns the sum of those arguments.

In [33]:
def myfunc(*args):
    return  sum(args)

myfunc(1,2,3,4,5,6,8)

29

17. Define a function called myfunc that takes in an arbitrary number of arguments, and returns a list containing only those arguments that are even.

In [35]:
def myfunc(*args):
    even=[]
    for arg in args:
        if arg%2==0:
            even.append(arg)         
    return even
myfunc(1,2,3,4,5,6,7,8,4,6,74,88,764,)

[2, 4, 6, 8, 4, 6, 74, 88, 764]

18. Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase. Assume that the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. The output string can start with either an uppercase or lowercase letter, so long as letters

In [39]:
def myfunc(str1):
    newstr = ""
    for x,letter in enumerate(str1):
        if x%2==0:
            newstr += letter.upper()
        else:
            newstr += letter.lower()
    return newstr
print(myfunc('I am the Batman!'))

I Am tHe bAtMaN!

In [40]:
def myfunc(str1):
    newstr = ""
    for i in range(len(str1)):
        if i%2==0:
            newstr += str1[i].upper()
        else:
            newstr += str1[i].lower()
    return newstr
print(myfunc('I am the Batman!'))

I Am tHe bAtMaN!